<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>所有用户</title>
	<link type="text/css" rel="stylesheet" href="../css/style.css"/>
	<script type="text/javascript" src="../js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../js/javascript.js"></script>
	<script type="text/javascript" src="../js/vue.min.js"></script>
	<script type="text/javascript" src="../js/httpVueLoader.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/node_modules/axios/dist/axios.js"></script>
</head>
<body>
<div id="userListApp">
	<top-manage></top-manage>

	<div id="middle">
		<div id="position">
			您现在的位置是&nbsp;&gt;&nbsp;<a href="index-manage.html">管理后台</a>&nbsp;&gt;&nbsp;用户管理
		</div>
		<user-manage></user-manage>
		<div id="main">
			<table>
				<tr class="firstLine">
					<td style="width:50px;">用户ID</td>
					<td style="width:150px;">用户名</td>
					<td style="width:150px;">密码</td>
					<td style="width:100px;">姓名</td>
					<td style="width:50px;">性别</td>
					<td style="width:120px;">出生日期</td>
					<td style="width:120px;">手机号码</td>
					<td>更多...</td>
				</tr>
				<tr v-for="(user,index) in userList">
					<td v-text="user.id"></td>
					<td v-text="user.username"></td>
					<td v-text="user.password"></td>
					<td v-text="user.name"></td>
					<td v-text="user.genderStr"></td>
					<td v-text="user.birthday"></td>
					<td v-text="user.phone"></td>
					<td><a href="user-info.html">浏览详情</a></td>
				</tr>
				<tr class="lastLine" v-for="i in lastSize">
					<td colspan="8"></td>
				</tr>
				<tr class="lastLine">
					<td colspan="6"></td>
					<td colspan="2" align="right">
						<input type="button" value="-" class="modifyButton" @click="jumpminus()"/>
						<input type="text" size="4" v-model="currentPage"/>
						<input type="button" value="+" class="modifyButton" @click="jumpplus()"/>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<bottom></bottom>
</div>
<script type="text/javascript">
	Vue.use(httpVueLoader);
	const app = new Vue({
		el: "#userListApp",
		data: {
			userList: [],
			currentPage: 1,
			pages: 0,
			lastSize: 0,
		},
		created() {
			this.loadData();
		},
		watch: {
		},
		methods: {
			loadData() {
				axios.get("/user/page/" + this.currentPage).then(resp => {
					this.userList = resp.data.records;
					this.currentPage = resp.data.current;
					this.pages = resp.data.pages;
					this.lastSize = resp.data.size - resp.data.records.length;
				});
			},
			jumpminus() {
				if(this.currentPage > 1){
					this.currentPage--;
					this.loadData();
				}
			},
			jumpplus() {
				if(this.currentPage < this.pages){
					this.currentPage++;
					this.loadData();
				}
			},
		},
		components: {
			'top-manage': 'url:../common/top-manage.vue',
			'bottom': 'url:../common/bottom.vue',
			'user-manage': 'url:../common/user-manage.vue',
		},
	});
</script>


</body>
</html>